html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
}

div#map {
    height: 50vh;
    width: 100vw;
    overflow: hidden !important;
}

thead,
tbody,
tr,
td,
th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

div.container {
    width: 100vw !important;
}

thead th {
    height: 40px;
    text-align: left;
}

tbody {
    height: 190px;
    overflow-y: auto;
}

tbody td,
thead th {
    width: 33.3%;
    float: left;
}

tbody td {
    height: 62px;
    float: left;
}

table:hover {
    cursor: pointer;
}