html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div#map {
    height: 60%;
    width: 70%;
    display: inline-block;
}

div#tweet_container {
    max-height: 60%;
    width: 29%;
    display: inline-block;
    overflow: auto;
}

table tbody:hover {
    cursor: pointer;
}